# Исключаем зависимости, которые устанавливаются внутри контейнера
node_modules
.astro

# Исключаем собранные файлы
dist

# Исключаем логи и временные файлы
npm-debug.log
*.log
.DS_Store

# Исключаем системные папки
.git
.idea
.vscode
.agent

# Исключаем файлы конфигурации Docker
Dockerfile
docker-compose.yml

