# Исключаем зависимости, которые устанавливаются внутри контейнера
node_modules

# Исключаем логи и временные файлы
npm-debug.log
*.log

# Исключаем системные папки
.git
.idea
.vscode
.agent

# Исключаем файлы конфигурации Docker
Dockerfile
docker-compose.yml

