# Переменные окружения
# Никогда не добавляйте .env файлы в Git
.env
.env.*

# Зависимости
node_modules/

# Файлы сборки
dist/
.astro/

# Логи и временные файлы
npm-debug.log
*.log

# Системные папки IDE и Git
.git
.idea
.vscode
.agent

# Системные файлы операционных систем
.DS_Store