---
// src/components/modals/SuccessModal.astro
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="success-modal" class="feedback-modal-overlay">
    <div class="feedback-modal-content">
        <div class="feedback-modal-icon success">
            <i class="fas fa-check" aria-hidden="true"></i>
        </div>
        <h3 set:html={t("success_modal_title")} />
        <p>{t("success_modal_text")}</p>
        <button class="cta-button close-modal-btn"
            >{t("success_modal_button")}</button
        >
    </div>
</div>
