---
// src/pages/en/brief.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import SuccessModal from "../../components/modals/SuccessModal.astro";
import ErrorModal from "../../components/modals/ErrorModal.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { BriefForm } from "../../components/forms/BriefForm";

export const prerender = true;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allTranslations = {
    form_button: t("form_button"),
};
---

<BaseLayout title="brief_page_title" description="brief_page_desc">
    <section id="brief-form-section" class="case-study-header">
        <div class="container">
            <h1 class="section-title">{t("brief_title")}</h1>
            <p>{t("brief_subtitle")}</p>

            <BriefForm client:visible t={allTranslations} lang={lang} />
        </div>
    </section>

    <SuccessModal />
    <ErrorModal />
</BaseLayout>
