---
// src/components/Cta.astro
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="cta-section">
    <div class="container cta-container">
        <h3>{t('blog_cta_title')}</h3>
        <p>{t('blog_cta_p')}</p>
        <a href={`/${lang}/brief/`} class="cta-button">{t('blog_cta_button')}</a>
    </div>
</section>