---
// src/components/Cta.astro
---
<section class="cta-section">
    <div class="container cta-container">
        <h3 data-lang="blog_cta_title">Готовы обсудить ваш проект?</h3>
        <p data-lang="blog_cta_p">Давайте вместе определим, какой подход лучше всего подойдет для ваших бизнес-целей.</p>
        <a href="/brief/" class="cta-button" data-lang="blog_cta_button">Заполнить бриф</a>
    </div>
</section>
