---
// src/components/ScrollToTop.astro
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Icon from './Icon.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<a href="#" class="scroll-to-top" aria-label={t("aria_scroll_top")}>
    <Icon name="fa-arrow-up" aria-hidden="true" />
</a>
